ul li{
    list-style-type: none;

    
}

ul li a{
    text-decoration: none;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    background-color: #eee;
    color: #444;
    padding: 15px;
    cursor: pointer;
    text-align: left;

}


ul li a:hover{
    background-color: #ddd;

}

ul li p{
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    margin: 0px;
    width: 100%;

}